<%- include('templates/header') %>
    
<body>
        <div class="bg-sky-blue pt-10 rounded-b-3xl">
            <div class="mx-6 bg-dark-blue my-3 py-2 flex flex-row justify-between px-6 rounded-3xl text-2xl">
                <a href="/localleaderboard"><div id="localBoard" class="font-bold  bg-baby-blue rounded-3xl py-1 px-4">Local</div></a>
                <a href="/regionalleaderboard"><div id="regionalBoard" class="font-bold rounded-3xl ml-2 py-1 px-4">Regional</div></a>
                <a href="/globalleaderboard"><div id="globalBoard" class="font-bold rounded-3xl py-1 px-4">Global</div></a>
            </div>
            <div class="justify-center flex relative">
                <svg xmlns="http://www.w3.org/2000/svg" class="translate-y-3 icon icon-tabler icon-tabler-crown" width="80"
                    height="80" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffec00" fill="#ffec00"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M12 6l4 6l5 -4l-2 10h-14l-2 -10l5 4z" />
                </svg>
            </div>
            <div id="top_1_icon"class="mt-0 pt-0 justify-center center flex">
                <a href="/otherProfile/<%=topusers[0]._id%>">
                <img id="top_1_icon" class="flex flex-row w-52 h-52 rounded-full border-8 border-dark-blue bg-black flex-none" src="<%=topusers[0].profilePicture %>">
            </img></a>
            </div>
            <div class="flex flex-row justify-between px-9">
                <a href="/otherProfile/<%=topusers[1]._id%>">
                <div id="top_2" class="flex flex-col text-center items-center">
                    <img class="w-44 h-44 rounded-full bg-black flex-none border-8 border-dark-blue" src="<%=topusers[1].profilePicture %>">
                </img>
                    <div class=" pt-7 text-2xl font-bold"><%-topusers[1].name.replace(/\s/g, `&nbsp;`)%></div>
                    <div class="text-2xl font-bold"><%=topusers[1].elo%></div>
                    <div class="relative -translate-y-28">
                        <div class="h-12 w-12 rounded-full font-bold text-4xl text-center bg-baby-blue">2</div>
                    </div>
                </div>
                </a>
                <a href="/otherProfile/<%=topusers[0]._id%>">
                <div class="flex-col flex items-center text-center">
                    <div class="text-2xl font-bold"><%-topusers[0].name.replace(/\s/g, `&nbsp;`)%></div>
                    <div class="text-2xl font-bold"><%=topusers[0].elo %></div>
                </div>
                </a>
                <a href="/otherProfile/<%=topusers[2]._id%>">
                <div id="top_3"class="flex flex-col text-center items-center">
                    <img src ="<%=topusers[2].profilePicture %>"class="w-44 h-44 border-8 border-dark-blue rounded-full bg-black flex-none"></img>
                    <div class="w-32 overflow-hidden">
                        <div class="w-24 pt-7 text-2xl truncate font-bold"><%-topusers[2].name.replace(/\s/g, `&nbsp;`) %>
                        </div>
                    <div class="text-2xl font-bold"><%=topusers[2].elo %></div>
                </div>
                <div class="relative -translate-y-28">
                    <div class="h-12 w-12 rounded-full font-bold text-4xl text-center bg-baby-blue">3</div>
                </div>
                
            </div>
        </div>
        </div>

        <div id="non-top3" class="pb-28">

        <% for (let i = 3; i < allusers.length; i++) { %>
        <a href="/otherProfile/<%= allusers[i]._id %>">
        <div
        class="bg-crimson border-8 border-rose normal-ranking px-6 py-2 mt-4 mx-2 flex flex-row justify-between items-center rounded-3xl">
        <div class="w-2">
        <div class="text-4xl"><%= (i+1) %></div>
        </div>
        <img src="<%= allusers[i].profilePicture%>" class="h-28 w-28 border-8 border-rose rounded-full bg-black"></img>
        <div class="w-60 overflow-hidden">
        <div class="text-3xl font-bold truncate"><%-allusers[i].name.replace(/\s/g, `&nbsp;`) %></div>
        </div>  
        <div class="text-3xl font-bold"><%= allusers[i].elo%></div>
        </div>
        </a>

        <% }; %>


        

        </div>
        <%- include('templates/footer') %>

    </body>