<%- include ('templates/header') %>

    <div class="rounded-lg bg-baby-blue m-5 border-2 shadow-lg">
        <div class=" mt-4 mx-2 mb-1 flex justify-center ">
            <div class=" py-2 px-6 text-2xl text-center w-60">
                <h1 class="text-3xl">
                    <%= sport.charAt(0).toUpperCase() + sport.slice(1) %>
                </h1>
        
            <h1 class="text-3xl">
                <%= matchType %>
               
            </h1>
        </div>
        </div>
        <div class=" mt-1 mx-2 mb-5 flex justify-center ">
        <div class="  px-6 w-60">
            <h1 class="text-xl text-center">
                <%= location %>
               
            
            </h1>
            <p class="text-sm text-center"><%= address%></p>
        </div>
        </div>
    </div>

    <div class="rounded-lg bg-baby-blue mx-5 border-2 shadow-lg">
        <div class="flex flex-row">
            <div class="flex justify-center items-center w-1/2">
                <div class=" bg-sky-blue shadow-xl text-center text-black w-48 text-4xl p-2 m-5 rounded-lg">Home</div>
            </div>
        <div class=" flex justify-center items-center w-1/2">
                <div class=" bg-sky-blue  shadow-xl text-center text-black w-48 text-4xl p-2 m-5 rounded-lg">Away</div>
            </form>
        </div>
        </div>
        
        <div class="flex flex-row justify-center mx-1">
            
            <div id="firstTeam" class="flex space-y-2 flex-col ml-1 py-2 px-3 rounded-lg ">
                <div class="">
                    <div class="truncate text-center">Avg ELO: <%= homeTeamElo %>
                </div>
                <div class="space-y-4">
                <% for (let i=0; i< homePlayers.length; i++) { %>
                    <div class="playerCards  bg-white shadow-lg flex flex-row border-2 px-1 py-1 rounded-full">
                        <img src="<%= homePlayers[i].profilePicture %>" class="flex align-middle w-12 h-12 rounded-full">
                        <div class="playerName text-xl p-3 flex flex-row">
                            <div class="overflow-hidden w-20">
                                <div class="truncate"><%= homePlayers[i].name %></div>
                            </div>
                        </div>
                    </div>
                    <% }; %>
                 
                </div>
                    
                </div>
            </div>
   

        <div id="secondTeam" class="flex space-y-2 flex-col ml-1 py-2 px-3 rounded-lg w-6/12">
             <div class="">
                            <div class="truncate text-center">Avg ELO: <%= awayTeamElo %>
                        </div>
            <div class="space-y-4">
            <% for (let i=0; i< awayPlayers.length; i++) { %>
                <div class="playerCards bg-white shadow-lg flex flex-row border-2 px-1 py-1 rounded-full">
                    <img src="<%= awayPlayers[i].profilePicture %>" class="flex align-middle w-12 h-12 rounded-full">
                    <div class="playerName text-xl p-3 flex flex-row">
                        <div class="overflow-hidden w-20">
                            <div class="truncate"><%= awayPlayers[i].name %></div>
                        </div>
                    </div>
                   
                </div>
                <% }; %>

               
                   
                   
                    </div>
               
                
                </div> 
        </div>
    </div>

    </div>

    <div class="flex flex-col justify-center items-center">
        <div class="flex justify-center items-center w-1/2">
            <form action="/match" method="GET">
            <input type="hidden" name="matchID" value="<%= matchID %>">
            <button class="bg-sky-blue text-white w-48 text-4xl p-2 m-2 rounded-lg" type="submit">Start</button>
        </form>
    </div>
    <div class="flex justify-center items-center w-1/2">
            <form action="/index" method="get">
            <button class="bg-dark-blue text-white w-48 text-4xl p-2 m-2 rounded-lg" type="submit">Exit</button>
        </form>
    </div>
    </div>

    <%- include ('templates/footer') %>