<%- include ('templates/header') %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <body>
    <div class="flex flex-col text-center items-center">
      <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="card border border-dark">
          <div class="card-body">
            <!-- Display the user's profile with name email and type -->
            <h3>
              <%=name %>'s Profile
            </h3>

            <ul>
              <li> Name: <%=name %>
              </li>
              <li>Type: <%=type%>
              </li>
              <li> Email: <%=email %>
              </li>
              <li> Bio: <%=bio %>
              </li>
            </ul>
            <button class="btn btn-primary" onclick="location.href='/editProfile'" type="button">Edit Profile
            </button>
            <button class="btn btn-primary" onclick="location.href='/resetPassword'" type="button">Reset
              Password</button>
            <button class="btn btn-primary" onclick="location.href='/logout'" type="button">Log out</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>

  <%- include ('templates/footer') %>

    </html>